@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  color: white;
  background: #0b003a;
  overflow: hidden;
}

.estrela {
  background-color: white;
  border-radius: 50%;
  position: absolute;
  animation-name: estrela;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.estrela.style1 {
  animation-duration: 0.5s;
  animation-name: estrela;
}
.estrela.style2 {
  animation-duration: 1s;
  animation-name: estrela;
}
.estrela.style3 {
  animation-duration: 1.5s;
  animation-name: estrela;
}
.estrela.style4 {
  animation-duration: 2s;
  animation-name: estrelaDestacada;
}

.estrela.tam1 {
  width: 1px;
  height: 1px;
}
.estrela.tam2 {
  width: 2px;
  height: 2px;
}
.estrela.tam3 {
  width: 3px;
  height: 3px;
}

.estrela.opacity1 {
  opacity: 1;
}
.estrela.opacity2 {
  opacity: 0.5;
}
.estrela.opacity3 {
  opacity: 0.1;
}

@keyframes estrela {
  0% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
  50% {
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }
  100% {
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.05);
  }
}

@keyframes estrelaDestacada {
  0% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 1);
  }
  20% {
    background-color: #ffc4c4;
    box-shadow: 0 0 10px 0px rgb(255, 196, 196, 1);
  }
  80% {
    background-color: #c4cfff;
    box-shadow: 0 0 10px 0px rgb(196, 207, 255, 1);
  }
  100% {
    background-color: #ffffff;
    box-shadow: 0 0 10px 0px rgba(255, 255, 255, 0.2);
  }
}

.shooting-star {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 1);
  animation: animate 13s linear infinite;
}
.shooting-star::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}
@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  50% {
    transform: rotate(315deg) translateX(-1500px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.shooting-star:nth-child(1) {
  top: 0;
  right: -500px;
  left: initial;
  animation-delay: 20s;
  animation-duration: 10s;
}

.shooting-star:nth-child(2) {
  top: 0;
  right: 0px;
  left: initial;
  animation-delay: 19s;
  animation-duration: 5s;
}

.shooting-star:nth-child(3) {
  top: 200px;
  right: 0px;
  left: initial;
  animation-delay: 18s;
  animation-duration: 10s;
}

.shooting-star:nth-child(4) {
  top: 0;
  right: 180px;
  left: initial;
  animation-delay: 17s;
  animation-duration: 5s;
}

.shooting-star:nth-child(5) {
  top: 0;
  right: 400px;
  left: initial;
  animation-delay: 16s;
  animation-duration: 10s;
}

.shooting-star:nth-child(6) {
  top: 0;
  right: 1500px;
  left: initial;
  animation-delay: 15s;
  animation-duration: 5s;
}
.shooting-star:nth-child(7) {
  top: 700px;
  right: 0px;
  left: initial;
  animation-delay: 14s;
  animation-duration: 10s;
}

.shooting-star:nth-child(8) {
  top: 0px;
  right: 700px;
  left: initial;
  animation-delay: 13s;
  animation-duration: 5s;
}

.shooting-star:nth-child(9) {
  top: 0px;
  right: 1000px;
  left: initial;
  animation-delay: 12s;
  animation-duration: 10s;
}

.shooting-star:nth-child(10) {
  top: 0px;
  right: 1300px;
  left: initial;
  animation-delay: 11s;
  animation-duration: 5s;
}
